<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>My Bucket List</title>
</head>
 
<body>
    <!--Jumbotron for Title-->
    <div class="jumbotron container-fluid mt-2 text-center p-2" style="background-color:#404040 ;color: white;">
        <h1> <strong>The bucketList</strong></h1>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-sm-4 bg-grey">
                <ul class="col-sm-12" id="park-choice-list">

                {{#each trips}}
                
                <li class='choice-item' style='list-style-type:none' 
                    data-park-name="{{park_name}}"
                    data-park-code={{park_code}}
                    data-park-rating={{park_rating}}
                    data-park-activities="{{activities}}"
                    data-park-topics="{{topics}}"
                    data-park-travel="{{travel}}"
                    data-park-notes="{{notes}}"
                >
                    {{park_name}}</li> 
                <hr/>

                {{/each}}
                </ul>

            </div>
            <div class=" default-container  col-sm-8" style="border-style:solid; display:block; border-radius:5px;">
             <!-- <picture>  <img src="wild-water-adventures.jpg" class="img-fluid" alt="Responsive image">  -->
                <!-- <img src="collage-of-national-parks.jpg" alt="National Parks"> -->
                <!-- <img src="yellowstone.png" class="img-fluid" alt="Responsive image">  -->
                <!-- <img src="canyonlands-national-park-utah-collage-01-thomas-woolworth.jpg" alt="canyon Parks"> -->
                <img src="https://geogypsytraveler.com/wp-content/uploads/2016/08/01-NP-images-collage-1024x576_thumb.jpg" class="img-thumbnail" alt="Responsive image"> 
            </picture>
            </div>
            <div class=" focus-container  col-sm-8" style="border-style:solid; width:auto; display:none; border-radius:5px;">
                <!--Row for searching a park-->
                <div class="row">
                    <div class="col-sm-12">
                        <div>
                            <h3 id=photoHed></h3>
                            <div id=photo1></div>
                            <p id=photoCredit1></p>
                            <h4 id=photoTitle1></h4>
                            <p id=caption1></p>
                        </div>
                        <br>
                        <br>
                        <br>

                        <div class="row ml-12 border border-dark rounded">
                            <div class="col-sm-12" id="current-park">
                                <h4 class="mb-1 mt-2 bolder" id="park-data"></h4>
                                <p id=parkName></p>
                                <p id=location></p>
                                <p id=description></p>
                                <p id=website></p>
                                <p id=phoneNumber></p>
                                <p id=parkEmail></p>
                            </div>
                        </div>
                        <br>
                        <br>
                        <h4 id=userNotes></h4>
                        <hr>
                        <form>
                            <fieldset class="form-group">
                                <div class="row">
                                    <legend class="col-form-label col-sm-2 pt-0" id="rateThisPark"></legend>
                                    <div class="col-sm-10">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios"
                                                id="gridRadios1" value="option1">
                                            <label class="form-check-label" for="gridRadios1">
                                                1. Forget about it.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios"
                                                id="gridRadios2" value="option2">
                                            <label class="form-check-label" for="gridRadios2">
                                                2. Worth a second look.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios"
                                                id="gridRadios3" value="option3">
                                            <label class="form-check-label" for="gridRadios3">
                                                3. Interesting.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios"
                                                id="gridRadios4" value="option4" checked>
                                            <label class="form-check-label" for="gridRadios4">
                                                4. Let's visit if we're in the area.
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="gridRadios"
                                                id="gridRadios5" value="option5">
                                            <label class="form-check-label" for="gridRadios5">
                                                5. This park is worth a special trip just to visit it.
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </fieldset>
                    <div class="form-group row">
                      <label for="inputActivities" class="col-sm-2 col-form-label">Activities you'd like to do at this park</label>
                      <div class="col-sm-10">
                        <input class="form-control"  id="inputActivities" placeholder="At this park, we'd enjoy doing ...">
                      </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputActivities" class="col-sm-2 col-form-label">Topics you'd like to explore at this park</label>
                      <div class="col-sm-10">
                        <input class="form-control"  id="inputTopics" placeholder="At this park, we'd enjoy doing ...">
                      </div>
                    </div>
                    <div class="form-group row">
                        <label for="inputNotes" class="col-sm-2 col-form-label">Travel plans</label>
                        <div class="col-sm-10">
                          <input class="form-control" id="inputTravel" placeholder="When and how to travel to this park ...">
                        </div>
                    </div>
                    <div class="form-group row">
                      <label for="inputNotes" class="col-sm-2 col-form-label">Other notes about this park.</label>
                      <div class="col-sm-10">
                        <input class="form-control" id="inputNotes" placeholder="More notes to plan your stay ...">
                      {{ park_Info.notes}}
                      
                      </div>
                        </form>
                        <hr>
                    </div>
                </div>
                <button class=" btn btn-primary" style="margin:5px" float="right" type="button"
                    id="focus-on-park">Close</button>
            </div>
        </div>
    </div>
    <!--jQuery JS-->
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    <!--Code to Jvascript File-->

</body>
<script>

// identify the saved parks and link the display call to the display
    var parkChoices = $("#park-choice-list");
    var displayBox = $(".focus-container");
    var defaultBox = $(".default-container");

    $(".choice-item").on("click", function (event) {
        defaultBox.hide();
        console.log(this);
        let park = {
        name: $(this).data("park-name"),
        code: $(this).data("park-code"),
        rating: $(this).data("park-rating"),
        activities: $(this).data("park-activities"),
        topics: $(this).data("park-topics"),
        travel: $(this).data("park-travel"),
        notes: $(this).data("park-notes")
}
        console.log(park);
 
        renderDisplayBox(park);
        {{!-- displayBox.show(); --}}
    });

    function renderDisplayBox(park) { 

      $.ajax({
        url: '/parkFocusInfo/' + park.code,
        Method: "GET"
      })
     
        .then(function(focusItem) {
     
          console.log(focusItem);
          console.log(park);

            let parkName = focusItem.data[0].fullName;
            let shortName = focusItem.data[0].name;

// populate park info based upon retrieved park data

        $('#header').html("<h1><strong>Let's Focus on " + parkName + "</strong><h1>");
        $('#parkName').html("Park Name: " + parkName);
        $('#location').html("Location: " + focusItem.data[0].addresses[0].city + ", " + focusItem.data[0].addresses[0].stateCode);
        $('#description').html("Description: " + focusItem.data[0].description);
        $('#website').html("Website: <a href>" + focusItem.data[0].url + "</a>");
        $('#phoneNumber').html("Telephone " + focusItem.data[0].contacts.phoneNumbers[0].phoneNumber);
        $('#parkEmail').html("Park Email: " + focusItem.data[0].contacts.emailAddresses[0].emailAddress);
        $('#photoHed').html("Photo From " + shortName);
        $('#caption1').html(focusItem.data[0].images[0].caption);
        $('#photo1').html("<img src='" + focusItem.data[0].images[0].url + "' width='100%'>");
        $('#photoCredit1').html(focusItem.data[0].images[0].credit);
        $('#photoTitle1').html(focusItem.data[0].images[0].title);
        $('#inputActivities').attr('placeholder', park.activities);
        $('#inputTravel').attr('placeholder', park.travel );
        $('#inputTopics').attr('placeholder', park.topics );
        $('#inputNotes').attr('placeholder', park.notes );
        $('#rateThisPark').html("Rate " + shortName); 

// set radio buttons based upon retrieved park rating

console.log('Park rating: ' + park.rating)

        if (park.rating == 1 ) {
            document.getElementById('gridRadios1').checked = true;
            } 
        else if (park.rating == 2) {
            document.getElementById('gridRadios2').checked = true;
            } 
        else if (park.rating == 3) {
            document.getElementById('gridRadios3').checked = true;
            } 
        else if (park.rating == 4) {
            document.getElementById('gridRadios4').checked = true;
            } 
        else if (park.rating == 5) {
            document.getElementById('gridRadios5').checked = true;
            }       

          displayBox.show()

        });
    }

    $("#focus-on-park").on("click", function () {
        displayBox.hide();
        defaultBox.show();
    });

</script>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<!-- //3// -->
<!-- <script src="./apiCalls.js"></script>
<script src="./apiCalls.js"></script> -->

</html>